In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [2]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/ashish/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [4]:
df = pd.read_csv('tweets_f234_users_vader_bert_url_len_lang.csv')

In [5]:
df

,userid,account_type,clean_tweet,bert_clear_expression_conf,lang,vader_sentiment,vader_label,url_flag,len
0,787405734442958848,bot,"We can put the ""River"" in ""Screwdrivers"" https...",90,en,0.0000,neutral,True,64
1,787405734442958848,bot,"You can't extract the ""Pong"" from ""Sponged"" ht...",98,en,0.0000,neutral,True,67
2,787405734442958848,bot,"Put the ""Nope"" back in ""Inoperative"" https://t...",97,en,0.0000,neutral,True,60
3,787405734442958848,bot,"We can't spell ""Artworks"" without ""Two"" https:...",85,en,0.0000,neutral,True,63
4,787405734442958848,bot,"You can be the ""She"" in ""Astonished"" https://t...",51,en,0.0000,neutral,True,60
...,...,...,...,...,...,...,...,...,...
488632,3077047801,bot,A Tribute – Joan Rivers on Fitness http://t.co...,69,en,0.2732,positive,True,74
488633,3077047801,bot,Live in Orlando area? Want a personal trainer?...,87,en,0.1680,positive,False,143
488634,3077047801,bot,If you're trying to get fit keep working. You...,83,en,0.8608,positive,True,138
488635,3077047801,bot,Ready for summer? Cheap cool sunglasses - loo...,96,en,0.7430,positive,True,133
488636,3077047801,bot,Hey all. Stayn' healthy is important especiall...,83,en,0.5423,positive,True,135

In [6]:
df['lang'].value_counts()

en                                 334679
es                                  23616
it                                  22580
ar                                  14389
ja                                  13445
pt                                   9301
Exception: No features in text.      9150
id                                   6928
fr                                   5543
de                                   5011
tl                                   4248
ur                                   3065
pl                                   2954
so                                   2680
af                                   2621
nl                                   2426
et                                   2425
tr                                   2100
ca                                   1973
ro                                   1946
no                                   1826
cy                                   1702
hi                                   1628
fi                                   1614
ru                                   1516
da                                   1313
sv                                   1134
sw                                   1030
ko                                    999
sl                                    999
hr                                    804
lt                                    498
hu                                    443
vi                                    437
sk                                    373
sq                                    371
cs                                    208
lv                                    168
bg                                    166
fa                                    109
th                                     63
zh-cn                                  53
mk                                     42
uk                                     18
ta                                     13
el                                      9
ne                                      8
mr                                      5
he                                      4
gu                                      2
zh-tw                                   1
kn                                      1
Name: lang, dtype: int64

In [7]:
df = df[df['lang'] == 'en']

In [8]:
clf = RandomForestClassifier(random_state=0)

In [9]:
X = df[['vader_sentiment', 'url_flag', 'len', 'bert_clear_expression_conf']]
y = df['account_type']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [11]:
%%time
clf = clf.fit(X_train, y_train)

CPU times: user 39.8 s, sys: 233 ms, total: 40 s
Wall time: 40.1 s

In [12]:
pred = clf.predict(X_test)

In [13]:
labels = ['bot', 'human']

In [14]:
print(classification_report(y_test, y_pred = pred, labels = labels))

              precision    recall  f1-score   support

         bot       0.57      0.43      0.49     23603
       human       0.85      0.91      0.88     86842

    accuracy                           0.81    110445
   macro avg       0.71      0.67      0.69    110445
weighted avg       0.79      0.81      0.80    110445