In [1]:
import pandas as pd

In [3]:
amazon_reviews = pd.read_csv('input/amazonReviewSnippets_GroundTruth.txt', sep = '\t')

In [15]:
amazon_reviews['dataset'] = 'amazon'

In [16]:
amazon_reviews.head()

    id  sentiment                                               text dataset
0  1_1      -0.90  troubleshooting ad-2500 and ad-2600 no picture...  amazon
1  1_2      -0.15  repost from january 13, 2004 with a better fit...  amazon
2  1_3      -0.20  does your apex dvd player only play dvd audio ...  amazon
3  1_4      -0.10  or does it play audio and video but scrolling ...  amazon
4  1_5      -0.50  before you try to return the player or waste h...  amazon

In [5]:
movie_reviews = pd.read_csv('input/movieReviewSnippets_GroundTruth.txt', sep = '\t')

In [17]:
movie_reviews['dataset'] = 'movie reviews'

In [18]:
movie_reviews.head(5)

,id,sentiment,text,dataset
0,1,2.266667,The Rock is destined to be the 21st Century's ...,movie reviews
1,2,3.533333,The gorgeously elaborate continuation of ''The...,movie reviews
2,3,-0.600000,Effective but too tepid biopic,movie reviews
3,4,1.466667,If you sometimes like to go to the movies to h...,movie reviews
4,5,1.733333,"Emerges as something rare, an issue movie that...",movie reviews

In [10]:
nyt_editorial_snippets = pd.read_csv('input/nytEditorialSnippets_GroundTruth.txt', sep = '\t')

In [19]:
nyt_editorial_snippets['dataset'] = 'nyt_editorial_snippets'

In [20]:
nyt_editorial_snippets.head()

,id,sentiment,text,dataset
0,1_1,0.40,"On Dec. 19, around noon, New York City's Union...",nyt_editorial_snippets
1,1_2,0.15,"Events include sprinting, broad jumping, yule ...",nyt_editorial_snippets
2,1_3,1.50,It's mainly a holiday celebration - toys from ...,nyt_editorial_snippets
3,1_4,-0.05,But the games also convey another message.,nyt_editorial_snippets
4,1_5,-1.15,"According to Clement C. Moore, author of ''A V...",nyt_editorial_snippets

In [13]:
tweets_groud_truth = pd.read_csv('input/tweets_GroundTruth.txt', sep = '\t')

In [21]:
tweets_groud_truth['dataset'] = 'tweets_groud_truth'

In [22]:
tweets_groud_truth.head()

,id,sentiment,text,dataset
0,1,2.726316,Somehow I was blessed with some really amazing...,tweets_groud_truth
1,2,1.443299,Yay. Another good phone interview.,tweets_groud_truth
2,3,2.873684,We were 17 deep last night &amp; the love was ...,tweets_groud_truth
3,4,2.857143,"LMAO, AMAZING!",tweets_groud_truth
4,5,-2.154639,Two words that should die this year: Sexting a...,tweets_groud_truth

In [24]:
us_presidential_election_2016 = pd.read_csv('input/us_politics_presidential_election_2016.csv', sep = ',')

In [26]:
us_presidential_election_2016.head()

,id,candidate,candidate_confidence,relevant_yn,relevant_yn_confidence,sentiment,sentiment_confidence,subject_matter,subject_matter_confidence,candidate_gold,...,relevant_yn_gold,retweet_count,sentiment_gold,subject_matter_gold,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,1,No candidate mentioned,1.0,yes,1.0,Neutral,0.6578,None of the above,1.0000,NaN,...,NaN,5,NaN,NaN,RT @NancyLeeGrahn: How did everyone feel about...,NaN,2015-08-07 09:54:46 -0700,629697200650592256,NaN,Quito
1,2,Scott Walker,1.0,yes,1.0,Positive,0.6333,None of the above,1.0000,NaN,...,NaN,26,NaN,NaN,RT @ScottWalker: Didn't catch the full #GOPdeb...,NaN,2015-08-07 09:54:46 -0700,629697199560069120,NaN,NaN
2,3,No candidate mentioned,1.0,yes,1.0,Neutral,0.6629,None of the above,0.6629,NaN,...,NaN,27,NaN,NaN,RT @TJMShow: No mention of Tamir Rice and the ...,NaN,2015-08-07 09:54:46 -0700,629697199312482304,NaN,NaN
3,4,No candidate mentioned,1.0,yes,1.0,Positive,1.0000,None of the above,0.7039,NaN,...,NaN,138,NaN,NaN,RT @RobGeorge: That Carly Fiorina is trending ...,NaN,2015-08-07 09:54:45 -0700,629697197118861312,Texas,Central Time (US & Canada)
4,5,Donald Trump,1.0,yes,1.0,Positive,0.7045,None of the above,1.0000,NaN,...,NaN,156,NaN,NaN,RT @DanScavino: #GOPDebate w/ @realDonaldTrump...,NaN,2015-08-07 09:54:45 -0700,629697196967903232,NaN,Arizona

In [27]:
us_presidential_election_2016 = us_presidential_election_2016[['id', 'sentiment', 'text']]

In [29]:
us_presidential_election_2016['dataset'] = 'us_presidential_election_2016'

/tmp/ipykernel_11290/1691970841.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_presidential_election_2016['dataset'] = 'us_presidential_election_2016'

In [30]:
us_presidential_election_2016.head()

,id,sentiment,text,dataset
0,1,Neutral,RT @NancyLeeGrahn: How did everyone feel about...,us_presidential_election_2016
1,2,Positive,RT @ScottWalker: Didn't catch the full #GOPdeb...,us_presidential_election_2016
2,3,Neutral,RT @TJMShow: No mention of Tamir Rice and the ...,us_presidential_election_2016
3,4,Positive,RT @RobGeorge: That Carly Fiorina is trending ...,us_presidential_election_2016
4,5,Positive,RT @DanScavino: #GOPDebate w/ @realDonaldTrump...,us_presidential_election_2016

In [31]:
df = pd.concat([amazon_reviews, movie_reviews, tweets_groud_truth, us_presidential_election_2016])

In [32]:
df.shape

(32222, 4)

In [33]:
df.head()

    id sentiment                                               text dataset
0  1_1      -0.9  troubleshooting ad-2500 and ad-2600 no picture...  amazon
1  1_2     -0.15  repost from january 13, 2004 with a better fit...  amazon
2  1_3      -0.2  does your apex dvd player only play dvd audio ...  amazon
3  1_4      -0.1  or does it play audio and video but scrolling ...  amazon
4  1_5      -0.5  before you try to return the player or waste h...  amazon

In [34]:
df['sentiment_label'] = 'Neutral'

In [38]:
def get_sentiment_label(in_row):
    rtn = 'Neutral'
    if(isinstance(in_row['sentiment'], float) or isinstance(in_row['sentiment'], int)):
        if(in_row['sentiment'] < 0):
            rtn = 'Negative'
        else:
            rtn = 'Positive'
    else:
        rtn = in_row['sentiment']
    return rtn

In [39]:
df['sentiment_label'] = df.apply(get_sentiment_label, axis = 1)

In [40]:
df

,id,sentiment,text,dataset,sentiment_label
0,1_1,-0.9,troubleshooting ad-2500 and ad-2600 no picture...,amazon,Negative
1,1_2,-0.15,"repost from january 13, 2004 with a better fit...",amazon,Negative
2,1_3,-0.2,does your apex dvd player only play dvd audio ...,amazon,Negative
3,1_4,-0.1,or does it play audio and video but scrolling ...,amazon,Negative
4,1_5,-0.5,before you try to return the player or waste h...,amazon,Negative
...,...,...,...,...,...
13866,13867,Negative,RT @cappy_yarbrough: Love to see men who will ...,us_presidential_election_2016,Negative
13867,13868,Positive,RT @georgehenryw: Who thought Huckabee exceede...,us_presidential_election_2016,Positive
13868,13869,Positive,"RT @Lrihendry: #TedCruz As President, I will a...",us_presidential_election_2016,Positive
13869,13870,Negative,RT @JRehling: #GOPDebate Donald Trump says tha...,us_presidential_election_2016,Negative
13870,13871,Positive,RT @Lrihendry: #TedCruz headed into the Presid...,us_presidential_election_2016,Positive

In [41]:
df.to_csv('32K_labeled_data_points_for_sentiment_analysis.csv', index = False)