In [12]:
import pandas as pd
from datetime import datetime

In [4]:
df_stock_txns_with_buys = pd.read_csv('out/stock_txns.csv')

In [9]:
df_stock_txns_with_buys.head()

  past_month              stock    txn_date        close  amt
0    2021-06      MARUTI.NS.csv  2021-07-01  7584.399902  200
1    2021-06  BAJFINANCE.NS.csv  2021-07-01  5967.149902  200
2    2021-06  ULTRACEMCO.NS.csv  2021-07-01  6707.250000  200
3    2021-06         TCS.NS.csv  2021-07-01  3341.500000  200
4    2021-06        INFY.NS.csv  2021-07-01  1560.400024  200

In [7]:
df_sell_signals = pd.read_csv('out/sell_signals.csv')

In [10]:
df_sell_signals.head()

  past_month              stock    txn_date        close
0    2021-06    HDFCBANK.NS.csv  2021-07-01  1486.750000
1    2021-06   SUNPHARMA.NS.csv  2021-07-01   684.150024
2    2021-06  BHARTIARTL.NS.csv  2021-07-01   522.650024
3    2021-06         ITC.NS.csv  2021-07-01   203.000000
4    2021-06  INDUSINDBK.NS.csv  2021-07-01  1007.700012

In [20]:
df_stock_txns_with_buys.shape

(120, 5)

In [25]:
sell_dates = []
sell_nav = []

def populate_sell_txns(row):
    df = df_sell_signals[
        (df_sell_signals['stock'] == row['stock']) 
        & (df_sell_signals['txn_date'] > row['txn_date'])
    ]
    
    df.sort_values(by='txn_date', inplace = True)
    
    if(len(df) > 0):
        sell_dates.append(df['txn_date'].values[0])
        sell_nav.append(df['close'].values[0])
    else:
        sell_dates.append('Not Applicable')
        sell_nav.append('Not Applicable')
        
_ = df_stock_txns_with_buys.apply(populate_sell_txns, axis = 1)
df_stock_txns_with_buys['sell_dates'] = sell_dates
df_stock_txns_with_buys['sell_nav'] = sell_nav

In [26]:
df_stock_txns_with_buys.to_csv('out/stock_txns_with_buys_and_sells.csv', index = False)