In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('stock_data.csv')
# https://www.kaggle.com/yash612/stockmarket-sentiment-dataset/version/1

In [3]:
df.head()

                                                Text  Sentiment
0  Kickers on my watchlist XIDE TIT SOQ PNK CPW B...          1
1  user: AAP MOVIE. 55% return for the FEA/GEED i...          1
2  user I'd be afraid to short AMZN - they are lo...          1
3                                  MNTA Over 12.00            1
4                                   OI  Over 21.37            1

In [4]:
pd.set_option('display.width', 75)

In [5]:
df.head()

                                                Text  Sentiment
0  Kickers on my watchlist XIDE TIT SOQ PNK CPW B...          1
1  user: AAP MOVIE. 55% return for the FEA/GEED i...          1
2  user I'd be afraid to short AMZN - they are lo...          1
3                                  MNTA Over 12.00            1
4                                   OI  Over 21.37            1

In [6]:
from nltk.tokenize import casual_tokenize

In [7]:
from collections import Counter

In [8]:
bags_of_words = []

In [9]:
for text in df.Text:
    bags_of_words.append(Counter(casual_tokenize(text)))

In [10]:
df_bows = pd.DataFrame.from_records(bags_of_words)

In [11]:
df_bows = df_bows.fillna(0).astype(int)

In [12]:
df_bows.shape

(5791, 13797)

In [13]:
df_bows.head()

,Kickers,on,my,watchlist,XIDE,TIT,SOQ,PNK,CPW,BPZ,...,#recession,https://t.co/fSylAJrUqv,wage,https://t.co/RgvrKPliNd,#Sharemarket,LIVE,https://t.co/3xgtLroKUI,factors,D-Street,https://t.co/jVQcousFp6
0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
from sklearn.naive_bayes import MultinomialNB

In [15]:
nb = MultinomialNB()

In [16]:
# Naive Bayes models are classifiers, so you need to convert your output variable (sentiment float) to a discrete label (integer, string, or bool).
# nb = nb.fit(df_bows, movies.sentiment > 0)

nb = nb.fit(df_bows, df.Sentiment > 0)

In [17]:
# df['predicted_sentiment'] = nb.predict_proba(df_bows) * 8 - 4
# KeyError: 'predicted_sentiment'

In [18]:
nb.predict_proba(df_bows) * 8 - 4

array([[-3.9998908 ,  3.9998908 ],
       [-3.99052287,  3.99052287],
       [-3.0682941 ,  3.0682941 ],
       ...,
       [-3.86034537,  3.86034537],
       [-3.97747485,  3.97747485],
       [-3.99969011,  3.99969011]])

In [19]:
nb.predict_proba(df_bows)

array([[1.36498649e-05, 9.99986350e-01],
       [1.18464092e-03, 9.98815359e-01],
       [1.16463237e-01, 8.83536763e-01],
       ...,
       [1.74568289e-02, 9.82543171e-01],
       [2.81564390e-03, 9.97184356e-01],
       [3.87362802e-05, 9.99961264e-01]])

In [20]:
nb.predict(df_bows)

array([ True,  True,  True, ...,  True,  True,  True])

In [21]:
from sklearn.metrics import classification_report

In [22]:
target_names = ['+ve', '-ve']

In [23]:
print(classification_report(y_true = (df.Sentiment > 0), y_pred = nb.predict(df_bows), target_names=target_names))

              precision    recall  f1-score   support

         +ve       0.91      0.82      0.86      2106
         -ve       0.90      0.95      0.93      3685

    accuracy                           0.90      5791
   macro avg       0.90      0.88      0.89      5791
weighted avg       0.90      0.90      0.90      5791