In [1]:
import pandas as pd

In [35]:
df = pd.DataFrame({
    'col1': ["alpha", "beta", "gamma"],
    'col2': ['beta', 'gamma', 'alpha'],
    'col3': ['gamma', 'alpha', 'beta']
})

In [36]:
df[df == 'alpha'] = 'delta'

In [37]:
df

    col1   col2   col3
0  delta   beta  gamma
1   beta  gamma  delta
2  gamma  delta   beta

In [38]:
from pyspark import pandas as ppd

In [39]:
df_ppd = ppd.DataFrame({
    'col1': ["alpha", "beta", "gamma"],
    'col2': ['beta', 'gamma', 'alpha'],
    'col3': ['gamma', 'alpha', 'beta']
})

/home/ashish/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/home/ashish/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [40]:
df_ppd

    col1   col2   col3
0  alpha   beta  gamma
1   beta  gamma  alpha
2  gamma  alpha   beta

In [41]:
df_ppd[df_ppd == 'alpha'] = 'delta'

comment = """
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In [13], line 1
----> 1 df_ppd[df_ppd == 'alpha'] = 'delta'

File ~/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/frame.py:12355, in DataFrame.__setitem__(self, key, value)
  12352     psdf = self._assign({k: value[c] for k, c in zip(key, field_names)})
  12353 else:
  12354     # Same Series.
> 12355     psdf = self._assign({key: value})
  12357 self._update_internal_frame(psdf._internal)

TypeError: unhashable type: 'DataFrame'
"""

TypeError: unhashable type: 'DataFrame'

In [42]:
df_ppd = df_ppd.replace(to_replace = ['alpha'], value = "delta")

In [43]:
df_ppd

    col1   col2   col3
0  delta   beta  gamma
1   beta  gamma  delta
2  gamma  delta   beta

In [44]:
df_ppd = df_ppd.replace(to_replace = ['beta', 'gamma'], value = "epsilon")

In [45]:
df_ppd

      col1     col2     col3
0    delta  epsilon  epsilon
1  epsilon  epsilon    delta
2  epsilon    delta  epsilon

# Also check out post on 'Different in way 4'