In [1]:
from pyspark import pandas as ppd

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [10]:
ppd_df = ppd.DataFrame({'num_legs': [2, 4], 'num_wings': [2, 0]},
                  index=['falcon', 'dog'],
                  columns=['num_legs', 'num_wings'])

/home/ashish/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/home/ashish/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [11]:
ppd_df

        num_legs  num_wings
falcon         2          2
dog            4          0

In [12]:
df_bool = ppd_df.isin({'num_wings': [0, 3]})

In [13]:
ppd_df[df_bool['num_wings']]

     num_legs  num_wings
dog         4          0

# In Pandas, we would do something like this:

In [14]:
import pandas as pd

In [15]:
pandas_df = pd.DataFrame({'num_legs': [2, 4], 'num_wings': [2, 0]},
                  index=['falcon', 'dog'],
                  columns=['num_legs', 'num_wings'])

In [17]:
pandas_df[pandas_df['num_wings'].isin([0,3])]

     num_legs  num_wings
dog         4          0

In [27]:
pandas_df[~pandas_df['num_wings'].isin([0,3])]

        num_legs  num_wings
falcon         2          2

In [28]:
type(pandas_df)

pandas.core.frame.DataFrame

# But this operation is invalid for PySpark.Pandas. Take a look at the error message it produces.

In [23]:
type(ppd_df)

pyspark.pandas.frame.DataFrame

In [24]:
ppd_df[ppd_df['num_wings'].isin([0,3])]

     num_legs  num_wings
dog         4          0

In [25]:
ppd_df[~ppd_df['num_wings'].isin([0,3])]

        num_legs  num_wings
falcon         2          2