In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('input/greek_alphabets.csv')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   greek      24 non-null     object
 1   empty_col  0 non-null      float64
dtypes: float64(1), object(1)
memory usage: 512.0+ bytes

In [14]:
df.empty_col

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
Name: empty_col, dtype: float64

In [15]:
from pyspark import pandas as ppd

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [16]:
df_ppd = ppd.read_csv('input/greek_alphabets.csv')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/26 14:33:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/26 14:33:40 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

/home/ashish/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [17]:
df_ppd

      greek empty_col
0     alpha      None
1      beta      None
2     gamma      None
3     delta      None
4   epsilon      None
5      zeta      None
6       eta      None
7     theta      None
8      iota      None
9     kappa      None
10   lambda      None
11       mu      None
12       nu      None
13       xi      None
14  omicron      None
15       pi      None
16      rho      None
17    sigma      None
18      tau      None
19  upsilon      None
20      phi      None
21      chi      None
22      psi      None
23    omega      None

In [18]:
df_ppd.empty_col

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None
23    None
Name: empty_col, dtype: object

In [19]:
df_ppd.empty_col.to_numpy()

/home/ashish/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: `to_numpy` loads all data into the driver's memory. It should only be used if the resulting NumPy ndarray is expected to be small.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

array([None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None], dtype=object)