In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [59]:
df = pd.DataFrame({
    'alphabets': [
        'alpha', 'beta', 'gamma', 'delta', 'epsilon', 'zeta', 'eta', 'theta', 'iota', 'kappa', 'lambda', 'mu', 'nu', 'xi', 'omicron', 'pi', 'rho', 'sigma', 'tau',
        'upsilon', 'phi', 'chi', 'psi', 'omega', # Greek Alphabets
        'ka', 'kh', 'ga', 'gh', 'ng', 'ch', 'chh', 'ja', 'jh', 'ny', 'ta', 'th', 'da', 'dh', 'na', 'ta', 'th', 'da', 'dh', 'na', 'pa', 'ph', 'ba', 'bh', 'ma', 
        'ya', 'ra', 'la', 'va', 'sh', 'sh', 'sa', 'ha', 'ksh', 'tr', 'gy', 'shr' # Hindi Consonants
    ]
})

In [35]:
df['first_letter'] = df['alphabets'].str[0]

In [36]:
ixs = np.random.permutation(df.shape[0])
split_pct = 0.5

In [37]:
train_ixs = ixs[:round(len(ixs) * split_pct)]
test_ixs = ixs[round(len(ixs) * split_pct):]

In [38]:
df_train = df.iloc[train_ixs]
df_test = df.iloc[test_ixs]

In [46]:
df_train.head()

   alphabets first_letter
52        va            v
18       tau            t
51        la            l
15        pi            p
16       rho            r

In [47]:
df_test.head()

   alphabets first_letter
24        ka            k
23     omega            o
49        ya            y
33        ny            n
39        ta            t

In [48]:
not_in_train_but_in_test = df_test[-(df_test.first_letter.isin(df_train.first_letter))]

In [49]:
not_in_train_but_in_test

   alphabets first_letter
24        ka            k
49        ya            y
13        xi            x
6        eta            e
56        ha            h
0      alpha            a
47        bh            b
9      kappa            k
57       ksh            k
1       beta            b
4    epsilon            e
46        ba            b
25        kh            k

In [57]:
import pyspark
print(pyspark.__version__)

3.3.0

In [50]:
from pyspark import pandas as ppd

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [51]:
df_ppd = ppd.DataFrame({
    'alphabets': [
        'alpha', 'beta', 'gamma', 'delta', 'epsilon', 'zeta', 'eta', 'theta', 'iota', 'kappa', 'lambda', 'mu', 'nu', 'xi', 'omicron', 'pi', 'rho', 'sigma', 'tau',
        'upsilon', 'phi', 'chi', 'psi', 'omega', # Greek
        'ka', 'kh', 'ga', 'gh', 'ng', 'ch', 'chh', 'ja', 'jh', 'ny', 'ta', 'th', 'da', 'dh', 'na', 'ta', 'th', 'da', 'dh', 'na', 'pa', 'ph', 'ba', 'bh', 'ma', 
        'ya', 'ra', 'la', 'va', 'sh', 'sh', 'sa', 'ha', 'ksh', 'tr', 'gy', 'shr' # Hindi
    ]
})

/home/ashish/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/25 22:18:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/10/25 22:18:58 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/10/25 22:18:58 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

/home/ashish/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [54]:
df_ppd['first_letter'] = df_ppd['alphabets'].apply(lambda x: x[0])

/home/ashish/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/internal.py:1573: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  fields = [
/home/ashish/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [55]:
df_ppd_train = df_ppd.iloc[train_ixs]
df_ppd_test = df_ppd.iloc[test_ixs]

not_in_train_but_in_test = df_ppd_test[-(df_ppd_test.first_letter.isin(df_ppd_train.first_letter))]

---------------------------------------------------------------------------
PandasNotImplementedError                 Traceback (most recent call last)
Cell In [62], line 1
----> 1 not_in_train_but_in_test = df_ppd_test[-(df_ppd_test.first_letter.isin(df_ppd_train.first_letter))]

File ~/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/base.py:880, in IndexOpsMixin.isin(self, values)
    873 if not is_list_like(values):
    874     raise TypeError(
    875         "only list-like objects are allowed to be passed"
    876         " to isin(), you passed a [{values_type}]".format(values_type=type(values).__name__)
    877     )
    879 values = (
--> 880     cast(np.ndarray, values).tolist() if isinstance(values, np.ndarray) else list(values)
    881 )
    883 other = [SF.lit(v) for v in values]
    884 scol = self.spark.column.isin(other)

File ~/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/series.py:6485, in Series.__iter__(self)
   6484 def __iter__(self) -> None:
-> 6485     return MissingPandasLikeSeries.__iter__(self)

File ~/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/missing/__init__.py:23, in unsupported_function.<locals>.unsupported_function(*args, **kwargs)
     22 def unsupported_function(*args, **kwargs):
---> 23     raise PandasNotImplementedError(
     24         class_name=class_name, method_name=method_name, reason=reason
     25     )

PandasNotImplementedError: The method `pd.Series.__iter__()` is not implemented. If you want to collect your data as an NumPy array, use 'to_numpy()' instead.

In [75]:
df_ppd_test.first_letter.isin(df_ppd_train.first_letter)

PandasNotImplementedError: The method `pd.Series.__iter__()` is not implemented. If you want to collect your data as an NumPy array, use 'to_numpy()' instead.

df_ppd_test.first_letter.isin(df_ppd_train.first_letter)

---------------------------------------------------------------------------
PandasNotImplementedError                 Traceback (most recent call last)
Cell In [63], line 1
----> 1 df_ppd_test.first_letter.isin(df_ppd_train.first_letter)

File ~/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/base.py:880, in IndexOpsMixin.isin(self, values)
    873 if not is_list_like(values):
    874     raise TypeError(
    875         "only list-like objects are allowed to be passed"
    876         " to isin(), you passed a [{values_type}]".format(values_type=type(values).__name__)
    877     )
    879 values = (
--> 880     cast(np.ndarray, values).tolist() if isinstance(values, np.ndarray) else list(values)
    881 )
    883 other = [SF.lit(v) for v in values]
    884 scol = self.spark.column.isin(other)

File ~/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/series.py:6485, in Series.__iter__(self)
   6484 def __iter__(self) -> None:
-> 6485     return MissingPandasLikeSeries.__iter__(self)

File ~/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/missing/__init__.py:23, in unsupported_function.<locals>.unsupported_function(*args, **kwargs)
     22 def unsupported_function(*args, **kwargs):
---> 23     raise PandasNotImplementedError(
     24         class_name=class_name, method_name=method_name, reason=reason
     25     )

PandasNotImplementedError: The method `pd.Series.__iter__()` is not implemented. If you want to collect your data as an NumPy array, use 'to_numpy()' instead.

In [67]:
# In Pandas

df_test.first_letter.isin(df_train.first_letter)

24    False
23     True
49    False
33     True
39     True
13    False
34     True
6     False
45     True
7      True
10     True
2      True
56    False
0     False
28     True
47    False
9     False
57    False
53     True
1     False
4     False
58     True
46    False
30     True
31     True
41     True
12     True
3      True
43     True
44     True
25    False
Name: first_letter, dtype: bool

In [70]:
df_ppd_test.first_letter

0     a
1     b
2     g
3     d
4     e
6     e
7     t
9     k
10    l
12    n
13    x
23    o
24    k
25    k
28    n
30    c
31    j
33    n
34    t
39    t
41    d
43    n
44    p
45    p
46    b
47    b
49    y
53    s
56    h
57    k
58    t
Name: first_letter, dtype: object

DataFrame.to_numpy() → numpy.ndarray
Returns: A NumPy ndarray representing the values in this DataFrame or Series.

Note: This method should only be used if the resulting NumPy ndarray is expected to be small, as all the data is loaded into the driver’s memory.

In [69]:
df_ppd_test.first_letter.to_numpy()

/home/ashish/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: `to_numpy` loads all data into the driver's memory. It should only be used if the resulting NumPy ndarray is expected to be small.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

array(['a', 'b', 'g', 'd', 'e', 'e', 't', 'k', 'l', 'n', 'x', 'o', 'k',
       'k', 'n', 'c', 'j', 'n', 't', 't', 'd', 'n', 'p', 'p', 'b', 'b',
       'y', 's', 'h', 'k', 't'], dtype=object)

In [72]:
df_ppd_test.first_letter.isin(df_ppd_train.first_letter.to_numpy())

0     False
1     False
2      True
3      True
4     False
6     False
7      True
9     False
10     True
12     True
13    False
23     True
24    False
25    False
28     True
30     True
31     True
33     True
34     True
39     True
41     True
43     True
44     True
45     True
46    False
47    False
49    False
53     True
56    False
57    False
58     True
Name: first_letter, dtype: bool

In [76]:
not_in_train_but_in_test = df_ppd_test[- ( df_ppd_test.first_letter.isin( df_ppd_train.first_letter.to_numpy() ) )]

/home/ashish/anaconda3/envs/mh/lib/python3.9/site-packages/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: `to_numpy` loads all data into the driver's memory. It should only be used if the resulting NumPy ndarray is expected to be small.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

In [77]:
not_in_train_but_in_test

   alphabets first_letter
0      alpha            a
1       beta            b
4    epsilon            e
6        eta            e
9      kappa            k
13        xi            x
24        ka            k
25        kh            k
46        ba            b
47        bh            b
49        ya            y
56        ha            h
57       ksh            k