In [1]:
import pandas as pd
import dateutil
from datetime import datetime
import statistics as st

In [2]:
df = pd.read_csv('data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv', index_col=False)

In [3]:
df

            Date      Open      High       Low     Close
0    1-June-2022  55588.27  55791.49  55091.43  55381.17
1    2-June-2022  55382.44  55891.92  55135.11  55818.11
2    3-June-2022  56245.60  56432.65  55719.36  55769.23
3    6-June-2022  55610.64  55832.28  55295.74  55675.32
4    7-June-2022  55373.18  55387.77  54882.41  55107.34
..           ...       ...       ...       ...       ...
244  26-May-2023  61985.36  62529.83  61911.61  62501.69
245  29-May-2023  62801.54  63026.00  62801.54  62846.38
246  30-May-2023  62839.85  63036.12  62737.40  62969.13
247  31-May-2023  62839.97  62876.77  62401.02  62622.24
248  1-June-2023  62736.47  62762.41  62359.14  62428.54

[249 rows x 5 columns]

In [4]:
df['month'] = df['Date'].apply(lambda x: str(dateutil.parser.parse(x).year) + "-" + str(dateutil.parser.parse(x).month))

In [5]:
month = df['month'].unique()

In [10]:
for i in month:
    x = list(df[df['month'] == i].index)
    y = list(df[df['month'] == i].Close)
    
    try:
        slope, intercept = st.linear_regression(x, y)
        print(slope)
    except st.StatisticsError as e:
        print(e)

-169.0593958215697
184.51801298701307
38.44155639097753
-119.46171089779794
170.16078947368416
89.15827272727272
-126.08474308300404
-38.541415584415496
-44.86599999999989
-102.47562337662345
54.98845588235289
55.59032185206093
linear regression requires at least two data points