In [34]:
import pandas as pd
import dateutil
from datetime import datetime
import statistics as st
from pandas.tseries.offsets import Day, MonthEnd

In [2]:
df = pd.read_csv('data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv', index_col=False)

In [16]:
df['Date'] = df['Date'].apply(lambda x: dateutil.parser.parse(x).strftime("%d-%b-%Y"))

In [17]:
start_date = dateutil.parser.parse('1-July-2022')
end_date = dateutil.parser.parse('1-June-2023')

In [24]:
# MS: month begin
# BMS: BusinessMonthBegin
dr = pd.date_range(start_date, end_date, freq="BMS")

In [44]:
stock = 'data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv'
amount = 1000

In [46]:
stock_l = []
amt_l = []
close_l = []
date_l = []

for i in dr:
    j = i
    close = df[df['Date'] == j.strftime("%d-%b-%Y")]['Close']
    while len(close) == 0:
        j = i + Day()
        close = df[df['Date'] == j.strftime("%d-%b-%Y")]['Close']
        
    
    stock_l.append(stock)
    amt_l.append(amount)
    close_l.append(list(close.values)[0])
    date_l.append(i)

In [47]:
df_rep = pd.DataFrame({
    'stock': stock_l,
    'amt': amt_l,
    'close': close_l,
    'date': date_l
})

In [48]:
df_rep

,stock,amt,close,date
0,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,52907.93,2022-07-01
1,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,58115.50,2022-08-01
2,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,58766.59,2022-09-01
3,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,56788.81,2022-10-03
4,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,61121.35,2022-11-01
5,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,63284.19,2022-12-01
6,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,61167.79,2023-01-02
7,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,59708.08,2023-02-01
8,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,59411.08,2023-03-01
9,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,59106.44,2023-04-03
10,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,61354.71,2023-05-01
11,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,62428.54,2023-06-01

In [49]:
df_rep.to_csv('out/sensex_txns.csv', index = False)