In [1]:
import pandas as pd

# Calculate Gain From SIP in Sensex

In [6]:
df_sensex = pd.read_csv('data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv', index_col = False)

In [10]:
current_close = df_sensex[df_sensex['Date'] == '1-June-2023']['Close'].values[0]

In [11]:
current_close

62428.54

In [12]:
df_txns_sensex = pd.read_csv('out/sensex_txns.csv')

In [26]:
df_txns_sensex = df_txns_sensex[df_txns_sensex['date'] != '2023-06-01']

In [30]:
def get_current_value(row):
    curr_value = row['amt'] * (current_close / row['close'])
    return curr_value

In [31]:
df_txns_sensex['curr_value'] = df_txns_sensex.apply(get_current_value, axis = 1)

/tmp/ipykernel_7727/2848172455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_txns_sensex['curr_value'] = df_txns_sensex.apply(get_current_value, axis = 1)

In [32]:
df_txns_sensex

,stock,amt,close,date,curr_value
0,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,52907.93,2022-07-01,1179.946749
1,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,58115.50,2022-08-01,1074.214968
2,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,58766.59,2022-09-01,1062.313468
3,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,56788.81,2022-10-03,1099.310586
4,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,61121.35,2022-11-01,1021.386799
5,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,63284.19,2022-12-01,986.479245
6,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,61167.79,2023-01-02,1020.611338
7,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,59708.08,2023-02-01,1045.562678
8,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,59411.08,2023-03-01,1050.789516
9,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,59106.44,2023-04-03,1056.205381
10,data/S&P BSE Sensex-01-06-2022-to-01-06-2023.csv,1000,61354.71,2023-05-01,1017.501998

In [33]:
total_invested = sum(df_txns_sensex['amt'].values)
current_value = sum(df_txns_sensex['curr_value'].values)

In [35]:
print("Amount invested:", total_invested)
print("current_value:", round(current_value, 2))
print("Percentage gain:", round((current_value - total_invested)/total_invested * 100, 2))

Amount invested: 11000
current_value: 11614.32
Percentage gain: 5.58