In [42]:
from category_encoders import BinaryEncoder
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter

In [43]:
df = pd.read_excel('in/Donations to national political parties - India.xlsx')

In [44]:
df.head()

,Party,Name,Type,Address,PAN Given,Amount,Contribution Mode,Financial Year
0,CPI,Aziz Pasha,Others,"16-B, Ferozeshah Road New Delhi-1",Y,3000000,CASH,2010-11
1,CPI(M),V K Ramachandran,Others,"No.1, First Floor Main Road Domlur Second Stag...",Y,10000000,"000037, HDFC Bank Bengaluru, Dt. 16.03.2015, 5...",2014-15
2,INC,Dr. Manmohan Singh,Others,"3, Motilal Nehru Place New Delhi",N,108000,"Cheque, State Bank of India Parliament House N...",2014-15
3,INC,Dr. Manda Jagnathan,Others,"9,Firozshah Road New Delhi",N,54000,Through Bank Transfer,2011-12
4,INC,Prof. K.V.Thomas,Others,"17,Dr.B.R.Mehta Lane New Delhi",N,54000,Through Bank Transfer,2011-12

In [45]:
df['HomeState'] = '-'
df['Address'] = df['Address'].astype(str)

In [46]:
def get_state(in_row):
    rtn = in_row['HomeState']
    if(in_row['HomeState'] == '-'):
        if('Delhi' in in_row['Address']):
            rtn = 'Delhi'
    return rtn

In [47]:
df['HomeState'] = df.apply(get_state, axis = 1)

In [48]:
df[~df['HomeState'].isin(['Delhi'])].head()

,Party,Name,Type,Address,PAN Given,Amount,Contribution Mode,Financial Year,HomeState
1,CPI(M),V K Ramachandran,Others,"No.1, First Floor Main Road Domlur Second Stag...",Y,10000000,"000037, HDFC Bank Bengaluru, Dt. 16.03.2015, 5...",2014-15,-
5,BJP,Sweta Chyouksey,Others,31 Shamla Hills Bhopal M. P.,Y,100000,146865 SBI,2011-12,-
6,BJP,Uma Shankar Gupta,Others,45 Bunglows Bhopal M. P.,N,100000,994966 SBI,2011-12,-
7,BJP,Parshwanath Bhakti Vihar Trust,Others,--,N,25000,"14021, Union Bank of India",2013-14,-
8,BJP,Anand Construction Company,Others,9 Santoshi Ayodhya Bipas Bhopal MP,Y,100000,168278 SBI,2011-12,-

In [63]:
df['Contribution Mode'] = df['Contribution Mode'].astype(str)

In [88]:
def get_contribution_mode_short(in_row):
    rtn = "-"
    if('Cash' in in_row['Contribution Mode']) or ('CASH' in in_row['Contribution Mode']):
        rtn = 'Cash'
    
    elif('Cheque' in in_row['Contribution Mode']):
        rtn = 'Cheque'
        
    elif('Through Bank Transfer' in in_row['Contribution Mode']) or ('Bank Transfer' in in_row['Contribution Mode']):
        rtn = 'Bank Transfer'
        
    elif('SBI' in in_row['Contribution Mode']):
        rtn = 'SBI'
        
    return rtn

In [89]:
df['ContribModeShort'] = df.apply(get_contribution_mode_short, axis = 1)

In [90]:
df[~df['ContribModeShort'].isin(['Cash', 'Cheque', 'Bank Transfer', 'SBI'])].head()

,Party,Name,Type,Address,PAN Given,Amount,Contribution Mode,Financial Year,HomeState,ContributionState,ContribModeShort
1,CPI(M),V K Ramachandran,Others,"No.1, First Floor Main Road Domlur Second Stag...",Y,10000000,"000037, HDFC Bank Bengaluru, Dt. 16.03.2015, 5...",2014-15,-,-,-
7,BJP,Parshwanath Bhakti Vihar Trust,Others,--,N,25000,"14021, Union Bank of India",2013-14,-,-,-
10,BJP,R.V Pandit,Others,Mumbai,N,100000,"955592 Bank Of India. Wodehouse Road, Mumbai",2004-05,-,-,-
11,BJP,A & T Infracon,Others,--,N,100000,430969,2012-13,-,-,-
15,BJP,A B Rolling Mills Pvt Ltd,Others,--,N,125000,"952450, Saraswat Bank",2012-13,-,-,-

In [91]:
cnt = Counter(df['ContribModeShort']).most_common()

In [92]:
cnt

[('-', 8799),
 ('Cheque', 1992),
 ('SBI', 1010),
 ('Bank Transfer', 968),
 ('Cash', 804)]