In [1]:
import pandas as pd
df = pd.read_csv('in/titanic_train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
enc_pc_df = pd.get_dummies(df, columns = ['Pclass'])
enc_pc_df.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_1,Pclass_2,Pclass_3
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0
2,3,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,0
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,1

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

In [4]:
clf = DecisionTreeClassifier(random_state=0)

# We would create a Decision Tree based model to see if can predict a one-hot feature by looking at the rest others.

In [5]:
X = enc_pc_df[['Pclass_1', 'Pclass_2']]

In [6]:
y = enc_pc_df[['Pclass_3']]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [8]:
clf = clf.fit(X_train, y_train)

In [9]:
y_pred = clf.predict(X_test)

In [10]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       140
           1       1.00      1.00      1.00       155

    accuracy                           1.00       295
   macro avg       1.00      1.00      1.00       295
weighted avg       1.00      1.00      1.00       295

# So, what is the solution to resolve this correlation?

In [11]:
enc_pc_df = pd.get_dummies(df, columns = ['Pclass'], drop_first = True)
enc_pc_df.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_2,Pclass_3
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,0
2,3,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,0
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1

How do we get back original matrix or 'put back the dropped column'?
Answer:
If: There is no '1' in the n-1 values, then dropped value is 1.
Else: 0
Assumptions made: there are 'n' number of columns.

# Model Building

In [12]:
clf = DecisionTreeClassifier(random_state=0)

In [54]:
X = df[['Age', 'Sex']]

In [55]:
y = df[['Survived']]

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [57]:
clf = clf.fit(X_train, y_train)

ValueError: could not convert string to float: 'male'

In [58]:
X = pd.get_dummies(X, columns = ['Sex'], drop_first = True)
X.head()

    Age  Sex_male
0  22.0         1
1  38.0         0
2  26.0         0
3  35.0         0
4  35.0         1

print(X.shape)
X.dropna(inplace = True)
print(X.shape)

In [59]:
X.fillna(0, inplace = True)

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [61]:
clf = clf.fit(X_train, y_train)

In [63]:
y_pred = clf.predict(X_test)

In [64]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.86      0.82       175
           1       0.76      0.66      0.71       120

    accuracy                           0.78       295
   macro avg       0.77      0.76      0.76       295
weighted avg       0.77      0.78      0.77       295

In [ ]:
f1 = 2 * precision * recall / (precision + recall)

In [ ]:
Precision: How many of the retrieved values are correctly identied?
Recall: How much percentage of the original values have been retrieved?

In [67]:
X_test.head()

      Age  Sex_male
709   0.0         1
439  31.0         1
840  20.0         1
720   6.0         0
39   14.0         0

In [66]:
y_test.head()

     Survived
709         1
439         0
840         0
720         1
39          1