In [10]:
import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import seaborn as sns
import requests
import json

In [2]:
df = pd.read_csv('input/tweets_of_f234_users_1663839312.csv')

In [3]:
df

,userid,account_type,clean_tweet
0,787405734442958848,bot,"We can put the ""River"" in ""Screwdrivers"" https..."
1,787405734442958848,bot,"You can't extract the ""Pong"" from ""Sponged"" ht..."
2,787405734442958848,bot,"Put the ""Nope"" back in ""Inoperative"" https://t..."
3,787405734442958848,bot,"We can't spell ""Artworks"" without ""Two"" https:..."
4,787405734442958848,bot,"You can be the ""She"" in ""Astonished"" https://t..."
...,...,...,...
488632,3077047801,bot,A Tribute – Joan Rivers on Fitness http://t.co...
488633,3077047801,bot,Live in Orlando area? Want a personal trainer?...
488634,3077047801,bot,If you're trying to get fit keep working. You...
488635,3077047801,bot,Ready for summer? Cheap cool sunglasses - loo...
488636,3077047801,bot,Hey all. Stayn' healthy is important especiall...

In [7]:
userid_accountype = df[['userid', 'account_type']].drop_duplicates()

In [8]:
userid_accountype['account_type'].value_counts()

human    146
bot       71
Name: account_type, dtype: int64

In [ ]:
%%time
def get_sentiment_bert(sentence):
    return json.dumps(requests.get("http://127.0.0.1:5000/?text=" + sentence).json())

# df['bert_sentiment_label'] = df.clean_tweet.apply(lambda x: get_sentiment_bert(x)['sentiment'])
# df['bert_sentiment_proba'] = df.clean_tweet.apply(lambda x: get_sentiment_bert(x)['probability'])

df['bert_sentiment_json'] = df.clean_tweet.apply(lambda x: get_sentiment_bert(x))